<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        {% feed_meta %}
        {% seo %}
        <!-- twitter card -->
          <meta name="twitter:card" content="{% if page.image %}summary_large_image{% else %}summary{% endif %}">
          <meta name="twitter:site" content="@SteveningsBlog">
          <meta name="twitter:creator" content="@{{ site.twitter_username }}">
          <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
          <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
        {% if page.image %}
          <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}"> 
        {% endif %} 
          <!-- end twitter card -->
    </head>
