html {
	font-family: Mulish, sans-serif;
}
a {
	color: DarkOrange;
}

h1 {
	padding-top: 5px;
}

.main ul {
	list-style-type: none;
}

.main a {
	text-decoration: none;
	color: DarkOrange;
}

.main img {
  border-radius: 15px;
	display: block;
  width: 80%;
}

.nav {
	padding-top: 10px;
	padding-bottom: 10px;
}

.topbar {
	height: auto;
	text-align: center;
}

.topbar a {
	color: black;
}

.topbar hr{
	width: 60%;
	height: 6px;
	border: 0 none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom:10px;
	background-color:lightgray;
}

.authorLine {
	font-size: 20px;
	font-weight: 300;
}

.nav a {
  padding: 16px;
  text-decoration: none;
	color: DarkOrange;
	padding-top: 10px;
	text-transform: uppercase;
}

.title {
	font-size: 70px;
	font-weight: bolder;
	text-decoration: none;
	padding-top: 10px;
	}

.main {
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}


hr {
   width: 60%;
   height: 4px;
   border: 0 none;
   margin-right: auto;
   margin-left: auto;
   margin-top: 10px;
   margin-bottom:10px;
   background-color:lightgray;
}
