$post-text-size: 18px;
$post-mobile-text-size: 24px;

html {
	font-family: Mulish, sans-serif;
}

a {
	color: DarkOrange;
}

h1 {
	padding-top: 10px;
}

h2 {
	font-weight: bold;
	width: 100%;
	display: inline-block;
	margin-bottom: 2px;
}

.date {
	font-weight: bold;
	font-size: 16px;
}

.main ul {
	list-style-type: none;
}

.about {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#leftflex {
	flex: 30%;
	padding-right: 10px;
	max-width: 250px;
}

#rightflex {
	flex: 70%
}


.post {
	padding-bottom: 40px;
}

.post ul {
	list-style-type: disc;
	line-height: 150%;
	font-size: $post-text-size;
}

blockquote {
  background:#f9f9f9;
  border-left:10px solid #ccc;
  margin:1.5em 10px;
  padding:.5em 10px;
  quotes:"\201C""\201D""\2018""\2019";
}


.main a {
	text-decoration: none;
	color: DarkOrange;
}



.main p {
	font-size: $post-text-size;
}

.main img {
  	border-radius: 15px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	width: 80%;
}

.nav {
	padding-top: 5px;
	padding-bottom: 10px;
}

.topbar {
	height: auto;
	text-align: center;
}

.title a {
	color: black;
}

.topbar hr{
	width: 70%;
	height: 6px;
	border: 0 none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom:10px;
	background-color:lightgray;
}

.authorLine {
	font-size: 20px;
	font-weight: 300;
	margin-top: 5px;
	margin-bottom: 5px;
}

.nav {
	margin-left: 10%;
	margin-right: 10%;
}

.nav a {
  	margin-right: 5px;
	margin-left: 5px;
  	text-decoration: none;
	color: DarkOrange;
	text-transform: uppercase;
}


#linklist li {
	padding-bottom: 10px;
	padding-left: 0px;
}

.title {
	font-size: 70px;
	font-weight: 900;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	color: black
	}

.main {
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	font-weight: 400;
}



.footer {
	font-size: 12px;
	font-weight: light;
	text-align: center;
	padding-top: 10px;
}

hr {
   height: 4px;
   border: 0 none;
   margin-right: auto;
   margin-left: auto;
   margin-top: 10px;
   margin-bottom:10px;
   background-color:lightgray;
}
.post ul {
	padding-left: 30px;
	padding-right: 30px;
}

#floatleft {
	float: 	left; 
	margin: 0px 15px 15px 0px;
	width: 180px;
}



@media (prefers-color-scheme: dark) {

	body {
        background-color: #252525;
        color: rgba(255,255,255,0.85);
    }

	.title {
		color: rgba(255,255,255,0.85);
	}

	.nav a{
		color: darkorange;
	}


	blockquote {
		background:dimgrey;
		border-left:10px solid #ccc;
		margin:1.5em 10px;
		padding:.5em 10px;
		quotes:"\201C""\201D""\2018""\2019";
	  }
}


@media all and (max-width: 578px) {
	
	

	.main {
        margin-left:5%;
        margin-right:5%;
		font-size: $post-mobile-text-size;
	}

	.title {
		margin-left:5%;
        margin-right:5%;
		font-size: 14vw;
	}

	ul {
		padding: 0px;
	}

	p {
		font-size: $post-mobile-text-size;
	}
	

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 18px;
	}

	.topbar hr{
		width: 100%;
	}

	// Make floatleft images full width for mobile
	#floatleft {
		margin: 0px 15px 15px 0px;
		width: 100%;
	}
} 
