<!doctype html>
<html>
  {% include head.html %}
  <body>

  	{% include topbar.html %}
    <div class="main">

      <ul>
  	  {% for post in site.posts %}
  		<li>
  		  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <h2>{{ post.date | date: "%-d %B %Y" }}</h2>
  		  {{ post.excerpt }}
        <!-- <div class="readmore"><a href="{{ post.url }}">Read more...</a></div> -->
  		</li>
      <hr>
  	  {% endfor %}
    	</ul>

        {{ content }}
    </div>
    {% include footer.html %}
</html>
